* {
  padding: 0;
  margin: 0;
  outline: none; }

html, body {
  width: 100%;
  height: 100%; }

#root {
  width: 100%;
  height: 100%; }

.wrap {
  width: 100%;
  height: 100%;
  display: flex; }

ul, li {
  list-style: none; }

.side-area {
  width: 300px;
  height: 100%;
  background: #e2e2e2; }
  .side-area .group-list li {
    padding: 10px 20px;
    border-bottom: 1px solid #CCCCCC;
    cursor: pointer; }

.main-area {
  width: calc(100% - 300px);
  height: 100%;
  position: relative; }
  .main-area .list-area {
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 60px - 40px);
    padding: 20px; }
    .main-area .list-area .todo-list {
      margin: 0;
      padding: 0; }
      .main-area .list-area .todo-list .todo-list-item {
        padding: 10px 20px;
        border: 1px solid #CCCCCC;
        border-radius: 5px;
        margin-bottom: 5px; }
        .main-area .list-area .todo-list .todo-list-item input[type="checkbox"] {
          margin-right: 10px; }
        .main-area .list-area .todo-list .todo-list-item .delete-button {
          border: none;
          font-size: 1.2rem;
          float: right;
          cursor: pointer; }
    .main-area .list-area .todo-input-area {
      margin-bottom: 20px;
      overflow: hidden; }
      .main-area .list-area .todo-input-area .todo-input {
        border: 1px solid #666666;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        float: left;
        width: calc(100% - 120px); }
      .main-area .list-area .todo-input-area .add-button {
        border: none;
        border-radius: 5px;
        background: #3366FF;
        color: #FFFFFF;
        width: 60px;
        height: 43px;
        font-size: 15px;
        float: right; }

.header {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  padding: 20px;
  background: #cccccc; }

.footer {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 10px;
  bottom: 0;
  left: 0;
  background: #cccccc; }
